.colourSelectFrame{
  min-width: 50svw;
  max-width: 50svw;
  /*min-height: 30svh;
  max-height: 30svh;*/
  /*min-width: 1000px;
  max-width: 1000px;
  min-height: 100px;
  max-height: 100px;*/


  background-color: white;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colourSelectHolder{
  min-width: 90%;
  max-width: 90%;
  display: flex;
  
  justify-content: space-evenly;
}

.slidecontainer {
  width: 100%;
}

.slider {
  /*-webkit-appearance: none;*/
  width: 200px;
  height: 25px;
  background-image: linear-gradient(90deg, red, black);
  /*background-image: linear-gradient(90deg, red, yellow, rgb(0,255,0), rgb(0,0,255), rgb(255,0,255), red);
  /*outline: none;*/
}

.sliderb {
  /*-webkit-appearance: none;*/
  width: 200px;
  height: 25px;
  background-image: linear-gradient(90deg, red, white);
  /*background-image: linear-gradient(90deg, red, yellow, rgb(0,255,0), rgb(0,0,255), rgb(255,0,255), red);
  /*outline: none;*/
}
.sliderb::-moz-range-thumb {
  width: 8px;
  height: 30px;
  /*background: white;*/
  /*background: rgba(0, 0, 0, 0);*/
  /*opacity: 0.1;*/
  background-color: goldenrod;
  cursor: pointer;
  border: solid 1px black;
}


/*.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}*/



.slider::-moz-range-thumb {
  width: 8px;
  height: 30px;
  /*background: white;*/
  /*background: rgba(0, 0, 0, 0);*/
  /*opacity: 0.1;*/
  background-color: aqua;
  cursor: pointer;
  border: solid 1px black;
}
.out2{
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;

  background-color: rgb(1,0,0);
}

.res{
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
}
.temp{
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}


/*.hold2{
  min-width: 800px;
  max-width: 800px;
  min-height: 200px;
  max-height: 200px;

  display: flex;
  background-color: black;
} 
#i1{
    background-color: rgb(0,0,255);
}
#i2{
    background-color: rgb(32,32,255);
}
#i3{
    background-color: rgb(64,64,255);
}
#i4{
    background-color: rgb(96,96,255);
}
#i5{
    background-color: rgb(128,128,255);
}
#i6{
    background-color: rgb(160,160,255);
}
#i7{
    background-color: rgb(191,191,255);
}
#i8{
    background-color: rgb(223,223,255);
}
#i9{
    background-color: rgb(255,255,255);
}
*/
.out{
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}
.ttt{
 min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;   

    background-image: linear-gradient(90deg, (linear-gradient(yellow, green)), (linear-gradient(red, blue)));
}
