.colourSelectFrame{
  min-width: 50svw;
  max-width: 50svw;

  background-color: white;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 650px)
{
  .colourSelectFrame{
  min-width: 80svw;
  max-width: 80svw;
  }
}


.colourSelectHolder{
  min-width: 90%;
  max-width: 90%;
  display: flex;

  margin-top: 5px;
  margin-bottom: 5px;
  
  justify-content: space-evenly;
}


.colourSelectB, .colourSelectW{
  -webkit-appearance: none;

  box-sizing: border-box;
  border: solid 1px grey;

  min-width: 40%;
  max-width: 40%;
  height: 25px;
  transition: 0.2s;
}
.colourSelectB:hover, .colourSelectW:hover{

  border: solid 3px grey;
}

.colourSelectB{
  background-image: linear-gradient(90deg, red, black);
}
.colourSelectW{
  background-image: linear-gradient(90deg, red, white);
}
.colourSelectB::-moz-range-thumb, .colourSelectW::-moz-range-thumb {
  width: 6px;
  height: 30px;
  
  background-color: grey;
  cursor: pointer;
  border: solid 1px black;
}

.colourSelectB::-webkit-slider-thumb, .colourSelectW::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 6px;
  height: 30px;

  background-color: grey;
  cursor: pointer;
  border: solid 1px black;
}

.colourSelectClose{
  margin-bottom: 5px;
  border: none;

  transition: 0.2s;
}
.colourSelectClose:hover{
  background-color: grey;
}



.colourSelectOut{
  background-color: black;
  box-sizing: border-box;
  border: solid 1px grey;

  min-width: 10%;
  max-width: 10%;
  min-height: 30px;
  max-height: 30px;
}

