.App {
  text-align: center;

}

.slidecontainer {
  width: 100%;
}

.slider {
  /*-webkit-appearance: none;*/
  width: 200px;
  height: 25px;
  background-image: linear-gradient(90deg, red, black);
  /*background-image: linear-gradient(90deg, red, yellow, rgb(0,255,0), rgb(0,0,255), rgb(255,0,255), red);
  /*outline: none;*/
}

.sliderb {
  /*-webkit-appearance: none;*/
  width: 200px;
  height: 25px;
  background-image: linear-gradient(90deg, red, white);
  /*background-image: linear-gradient(90deg, red, yellow, rgb(0,255,0), rgb(0,0,255), rgb(255,0,255), red);
  /*outline: none;*/
}
.sliderb::-moz-range-thumb {
  width: 8px;
  height: 30px;
  /*background: white;*/
  /*background: rgba(0, 0, 0, 0);*/
  /*opacity: 0.1;*/
  background-color: aqua;
  cursor: pointer;
  border: solid 1px black;
}


/*.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}*/
.h{
min-width: 600px;
  max-width: 600px;
  min-height: 50px;
  max-height: 50px;

  background-color: bisque;

  display: flex;
  justify-content: center;
  align-items: center;
}
.s{
  position: relative;

  min-width: 500px;
  max-width: 500px;
  min-height: 10px;
  max-height: 10px;

  /*background-color: blue;*/
  background-image: linear-gradient(90deg, red, yellow, rgb(0,255,0), rgb(0,0,255), rgb(255,0,255), red);
 

  border-radius: 5px;
}
.k{
  position: absolute;

  min-width: 8px;
  max-width: 8px;
  min-height: 16px;
  max-height: 16px;

  background-color: red;
  border: solid 1px black;
  border-radius: 4px;

  box-sizing: border-box;

  top: -3px;
}


.slider::-moz-range-thumb {
  width: 8px;
  height: 30px;
  /*background: white;*/
  /*background: rgba(0, 0, 0, 0);*/
  /*opacity: 0.1;*/
  background-color: aqua;
  cursor: pointer;
  border: solid 1px black;
}
.out2{
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;

  background-color: rgb(1,0,0);
}

.res{
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
}
.temp{
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}
/*.hold{
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;

  display: flex;
} 
#i1{
    background-color: rgb(255,0,0);
}
#i2{
    background-color: rgb(0,255,0);
}
#i3{
    background-color: rgb(0,0,255);
}
#i4{
    background-color: rgb(255,255,0);
}
#i5{
    background-color: rgb(0,255,255);
}
#i6{
    background-color: rgb(255,0,255);
}
#i7{
    background-color: rgb(255,255,255);
}*/

.out{
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}
