.App {
  text-align: center;

}
.appG{
  /*background-color: linear-gradient(blue, red);*/
  background-image: linear-gradient(90deg, red, yellow, limegreen, dodgerblue, purple, red);

  min-width: 400px;
  max-width: 400px;
  min-height: 20px;
  max-height: 20px;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  /*background: #d3d3d3;*/
  background-image: linear-gradient(90deg, red, yellow, limegreen, dodgerblue, purple, red);
  outline: none;
}


/*.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}*/

.slider::-moz-range-thumb {
  width: 10px;
  height: 30px;
  /*background: white;*/
  background: rgba(0, 0, 0, 0);
  /*opacity: 0.1;*/
  cursor: pointer;
  border: solid 2px black;
}

.res{
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
}
